@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200;400;700&display=swap");

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font: inherit;
}

body {
  background: url("./assets/bg-main-desktop.png"),
    url("./assets/bg-pattern-1.svg");
  background-repeat: no-repeat;
  background-position: top -300px left -250px, top -40px right 0;
  min-height: 100vh;
  padding-inline: 33px 39px;
}

.container {
  max-width: 69.375rem;
  margin-inline: auto;
}

header {
  margin-top: 3.875rem;
}

.hero-section {
  margin-top: 7.9375rem;
  /* margin-right: 16.25rem; */
}

.hero-section > h1 {
  font-family: "IBM Plex Sans";
  font-weight: 700;
  font-size: min(5.5rem, calc(88px - (1440px - 100vw) * 0.0357143));
  line-height: min(5.5rem, calc(88px - (1440px - 100vw) * 0.0357143));
  letter-spacing: -1px;

  color: #191826;
  width: min(1015px, calc(1015px - (1440px - 100vw) * 0.7366));
}

.hero-section > p {
  font-family: "IBM Plex Sans";
  font-weight: 400;
  font-size: clamp(1.125rem, 1.39vw, 1.25rem);
  line-height: clamp(1.75rem, 2.36vw, 2.125rem);

  color: #191826;
  margin-top: 2.5rem;
  width: min(825px, calc(825px - (1440px - 100vw) * 0.4627976));
}

.phone-container {
  margin-top: 20.625rem;
  background: #191826 url("./assets/bg-pattern-2.svg") no-repeat left 336px top
    max(calc(-40px + (1440px - 100vw) * (9 / 672)), -40px);
  height: 37.5rem;
  border-radius: 0.75rem;
  position: relative;
}

.phone-container > img {
  max-width: 312px;
  width: calc(312px - (1440px - 100vw) * 0.0621875);
  height: auto;
  position: absolute;
  left: min(102px, calc(102px - (1440px - 100vw) * 0.0565476));
  top: max(calc(-213px + (1440px - 100vw) * 0.141369), -213px);
}

.card {
  display: flex;
  flex-direction: column;
  background: #fa7453;
  border-radius: 0.75rem;
  position: absolute;
  top: max(90px, calc(90px + (1440px - 100vw) * 0.0892857));
  right: min(95px, calc(95px - (1440px - 100vw) * 0.0550595));
  width: min(446px, calc(446px - (1440px - 100vw) * (47 / 672)));
  height: min(625px, calc(625px - (1440px - 100vw) * (79 / 672)));
  padding-left: min(54px, calc(54px - (1440px - 100vw) * (6 / 672)));
  padding-right: min(59px, calc(59px - (1440px - 100vw) * (10 / 672)));
  color: #fcfaf9;
}

.card > h2 {
  margin-top: min(58px, calc(58px - (1440px - 100vw) * (10 / 672)));
  font-family: "IBM Plex Sans";
  font-weight: 700;
  font-size: min(40px, calc(40px - (1440px - 100vw) * 0.011905));
  line-height: min(52px, calc(52px - (1440px - 100vw) * 0.017857));
}

.card > p {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 400;
  font-size: min(20px, calc(20px - (1440px - 100vw) * (2 / 672)));
}

.card > p:first-of-type {
  margin-top: min(22px, calc(22px - (1440px - 100vw) * (10 / 672)));
  line-height: min(34px, calc(34px - (1440px - 100vw) * (6 / 672)));
}

.card > p:last-of-type:not(span) {
  margin-top: min(39px, calc(39px - (1440px - 100vw) * (3 / 672)));
  line-height: 32px;
  letter-spacing: -0.2px;
}

.card > p:last-of-type > span {
  font-family: "IBM Plex Sans";
  font-weight: 700;
  font-size: 65px;
  line-height: 52px;

  margin-right: 1rem;
}

.card > .button {
  border-radius: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: 15px 14px;
  border: none;
}

.card > .button-black {
  background: #191826;
  color: #fcfaf9;
}

.card > .button-white {
  color: #191826;
  background: #fcfaf9;
}

.card > button:first-of-type {
  margin-top: min(46px, calc(46px - (1440px - 100vw) * (14 / 672)));
  margin-bottom: 1rem;
}

.card > button > img {
  margin-right: 7.9px;
}

.card > button > p {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;

  text-align: center;
  letter-spacing: -0.18px;
}

footer {
  display: grid;
  margin-top: 202px;
  grid-template-columns: 1fr 2.9fr;
  margin-bottom: min(91px, calc(91px - (1440px - 100vw) * (6 / 672)));
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
}

.footer-description {
  max-width: 366px;
  min-height: 79px;
}

.footer-description > p {
  font-family: "IBM Plex Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;

  color: #191826;
}

.footer-contact > ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.footer-contact > ul > li {
  margin-left: 1.25rem;
}

@media (max-width: 768px) {
  footer {
    display: flex;
    flex-direction: column;
  }

  .footer-wrapper {
    margin-top: 2rem;
  }
}
